# Metodo A consulta a Binance

In [9]:
import json 
import requests 
  
# defining key/request url 
key = "https://api.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
  
# requesting data from url 
data = requests.get(key)   
data = data.json() 
print(f"{data['symbol']} price is {data['price']}")

BTCUSDT price is 57952.00000000

In [12]:

# Import libraries 
import json 
import requests 
  
# Defining Binance API URL 
key = "https://api.binance.com/api/v3/ticker/price?symbol="
  
# Making list for multiple crypto's 
currencies = ["BTCUSDT", "ETHUSDT", "BNBUSDT"] 
j = 0
  
# running loop to print all crypto prices 
for i in currencies: 
    
    # completing API for request 
    url = key+currencies[j]   
    data = requests.get(url) 
    data = data.json()
    print(data) 
    j = j+1
    print(f"{data['symbol']} price is {data['price']}")

{'symbol': 'BTCUSDT', 'price': '59041.10000000'}
BTCUSDT price is 59041.10000000
{'symbol': 'ETHUSDT', 'price': '2518.20000000'}
ETHUSDT price is 2518.20000000
{'symbol': 'BNBUSDT', 'price': '533.80000000'}
BNBUSDT price is 533.80000000

# Metodo B consulta a Binance

In [12]:
from websocket import WebSocketApp
import json

def on_message(ws, msg):
    print(msg)
    tick = json.loads(msg)
    if tick['k']['x']:
        print("NUEVA VEL")
    print(tick['k']['c'])


ws = WebSocketApp("wss://stream.binance.com:9443/ws/btcusdt@kline_1m", on_message=on_message)
ws.run_forever()

{"e":"kline","E":1726012246082,"s":"BTCUSDT","k":{"t":1726012200000,"T":1726012259999,"s":"BTCUSDT","i":"1m","f":3807771311,"L":3807771744,"o":"57585.36000000","c":"57585.14000000","h":"57594.00000000","l":"57581.05000000","v":"7.28257000","n":434,"x":false,"q":"419392.08627010","V":"0.75880000","Q":"43697.27553010","B":"0"}}
57585.14000000
{"e":"kline","E":1726012248236,"s":"BTCUSDT","k":{"t":1726012200000,"T":1726012259999,"s":"BTCUSDT","i":"1m","f":3807771311,"L":3807771752,"o":"57585.36000000","c":"57585.15000000","h":"57594.00000000","l":"57581.05000000","v":"7.30853000","n":442,"x":false,"q":"420886.99671170","V":"0.77952000","Q":"44890.43983810","B":"0"}}
57585.15000000
{"e":"kline","E":1726012250269,"s":"BTCUSDT","k":{"t":1726012200000,"T":1726012259999,"s":"BTCUSDT","i":"1m","f":3807771311,"L":3807771878,"o":"57585.36000000","c":"57590.00000000","h":"57594.00000000","l":"57581.05000000","v":"8.32227000","n":568,"x":false,"q":"479263.93619950","V":"1.75024000","Q":"100789.94380110","B":"0"}}
57590.00000000
{"e":"kline","E":1726012252393,"s":"BTCUSDT","k":{"t":1726012200000,"T":1726012259999,"s":"BTCUSDT","i":"1m","f":3807771311,"L":3807771885,"o":"57585.36000000","c":"57590.00000000","h":"57594.00000000","l":"57581.05000000","v":"8.43017000","n":575,"x":false,"q":"485477.89695170","V":"1.83336000","Q":"105576.82460110","B":"0"}}
57590.00000000
{"e":"kline","E":1726012255623,"s":"BTCUSDT","k":{"t":1726012200000,"T":1726012259999,"s":"BTCUSDT","i":"1m","f":3807771311,"L":3807771887,"o":"57585.36000000","c":"57590.00000000","h":"57594.00000000","l":"57581.05000000","v":"8.43078000","n":577,"x":false,"q":"485513.02685170","V":"1.83397000","Q":"105611.95450110","B":"0"}}
57590.00000000

True

# Metodo C, consulta valores NYSE

c *number
The close price for the symbol in the given time period.

h *number
The highest price for the symbol in the given time period.

l *number
The lowest price for the symbol in the given time period.

n integer
The number of transactions in the aggregate window.

o *number
The open price for the symbol in the given time period.

o tcboolean
Whether or not this aggregate is for an OTC ticker. This field will be left off if false.

t *integer
The Unix Msec timestamp for the start of the aggregate window.

v *number
The trading volume of the symbol in the given time period.

v wnumber
The volume weighted average price.

In [24]:
import requests
import pandas as pd

api_key = '9VaBsmf52x12pVfsoLc2nJRc5aymdoCE'
# Consulta BTC
#url = 'https://api.polygon.io/v2/aggs/ticker/X:BTCUSD/range/1/day/2024-01-01/2024-07-01?adjusted=true&sort=asc&apiKey=9VaBsmf52x12pVfsoLc2nJRc5aymdoCE'
#Consulta indice Nasdaq
url = 'https://api.polygon.io/v2/aggs/ticker/I:NDX/range/1/day/2024-01-01/2024-07-01?sort=asc&apiKey=9VaBsmf52x12pVfsoLc2nJRc5aymdoCE'
params = {'apiKey': api_key}

response = requests.get(url, params=params)
data = response.json()

print(data)


# Extract the 'results' list
results = data['results']

# Create a DataFrame from the 'results' list
df = pd.DataFrame(results)

{'ticker': 'I:NDX', 'queryCount': 127, 'results': [{'o': 16667.2989250833, 'c': 16543.93760613773, 'h': 16686.60350195957, 'l': 16453.15030260031, 't': 1704175200000}, {'o': 16413.25542943792, 'c': 16368.49057016411, 'h': 16471.07683758718, 'l': 16352.14201822551, 't': 1704261600000}, {'o': 16290.77501779523, 'c': 16282.01240905942, 'h': 16419.43817262962, 'l': 16276.4310122321, 't': 1704348000000}, {'o': 16281.74436804671, 'c': 16305.97906081521, 'h': 16415.39253800319, 'l': 16249.18904146178, 't': 1704434400000}, {'o': 16354.22071963576, 'c': 16649.8742738352, 'h': 16655.23102549871, 'l': 16349.39033353261, 't': 1704693600000}, {'o': 16531.9599638416, 'c': 16678.70440060544, 'h': 16710.88451392252, 'l': 16513.73449093977, 't': 1704780000000}, {'o': 16702.55309456953, 'c': 16793.04511894746, 'h': 16827.36721434607, 'l': 16654.74066365853, 't': 1704866400000}, {'o': 16852.18886433119, 'c': 16820.90066603006, 'h': 16898.15580263613, 'l': 16618.85825783025, 't': 1704952800000}, {'o': 16855.00310672873, 'c': 16832.91796083188, 'h': 16900.36909684942, 'l': 16776.9177437379, 't': 1705039200000}, {'o': 16775.09769258038, 'c': 16830.70926398125, 'h': 16895.32640337128, 'l': 16726.59034523443, 't': 1705384800000}, {'o': 16705.50763511584, 'c': 16736.27929115445, 'h': 16749.1141317254, 'l': 16561.49047668491, 't': 1705471200000}, {'o': 16894.33074175336, 'c': 16982.28860093269, 'h': 16996.98370256895, 'l': 16818.12691337191, 't': 1705557600000}, {'o': 17060.14446557914, 'c': 17314.00480342127, 'h': 17317.21205633904, 'l': 17041.85163030771, 't': 1705644000000}, {'o': 17403.6183078734, 'c': 17330.38003852701, 'h': 17450.3013328094, 'l': 17309.86619204739, 't': 1705903200000}, {'o': 17346.95101838197, 'c': 17404.20562888379, 'h': 17410.86330786642, 'l': 17286.01842926932, 't': 1705989600000}, {'o': 17562.31604869129, 'c': 17499.29847416757, 'h': 17665.25931146499, 'l': 17481.97154841796, 't': 1706076000000}, {'o': 17589.26979983632, 'c': 17516.98810099811, 'h': 17631.33700218257, 'l': 17430.37452781362, 't': 1706162400000}, {'o': 17432.87360775225, 'c': 17421.00924072959, 'h': 17514.75561233032, 'l': 17395.53535241529, 't': 1706248800000}, {'o': 17438.03014313286, 'c': 17596.27001296096, 'h': 17603.95319022773, 'l': 17414.622674342, 't': 1706508000000}, {'o': 17556.49064567178, 'c': 17476.70931090266, 'h': 17578.45686428069, 'l': 17443.77338739071, 't': 1706594400000}, {'o': 17269.97537511707, 'c': 17137.23579120616, 'h': 17375.32229609097, 'l': 17128.73879533896, 't': 1706680800000}, {'o': 17216.99400803838, 'c': 17344.7093191499, 'h': 17356.76162380459, 'l': 17175.8279508309, 't': 1706767200000}, {'o': 17415.94044768011, 'c': 17642.73155693633, 'h': 17682.29179871978, 'l': 17378.37400986552, 't': 1706853600000}, {'o': 17634.69240766361, 'c': 17613.03611057751, 'h': 17655.77284725765, 'l': 17469.61688444586, 't': 1707112800000}, {'o': 17664.43864288946, 'c': 17572.73388552524, 'h': 17680.61739884382, 'l': 17475.43368876344, 't': 1707199200000}, {'o': 17674.59283029206, 'c': 17755.07147667831, 'h': 17784.16899602306, 'l': 17637.72951822844, 't': 1707285600000}, {'o': 17757.5980035715, 'c': 17783.16595646633, 'h': 17814.12174733718, 'l': 17728.55397154066, 't': 1707372000000}, {'o': 17820.98068410641, 'c': 17962.40512747074, 'h': 17987.89728241598, 'l': 17798.81344404728, 't': 1707458400000}, {'o': 17942.28393296156, 'c': 17882.66096762813, 'h': 18041.45401568676, 'l': 17859.65770517935, 't': 1707717600000}, {'o': 17519.79594400251, 'c': 17600.4236397292, 'h': 17717.66870527668, 'l': 17478.23250778051, 't': 1707804000000}, {'o': 17728.89935472353, 'c': 17807.63068272447, 'h': 17815.18177367487, 'l': 17619.92206849989, 't': 1707890400000}, {'o': 17815.32134979768, 'c': 17845.72342187266, 'h': 17864.58495234145, 'l': 17722.30569390676, 't': 1707976800000}, {'o': 17853.59430608054, 'c': 17685.98038951179, 'h': 17864.15803504876, 'l': 17663.39941065497, 't': 1708063200000}, {'o': 17591.16774720154, 'c': 17546.09596597033, 'h': 17657.07983142765, 'l': 17399.4070181944, 't': 1708408800000}, {'o': 17412.78823208775, 'c': 17478.90800615993, 'h': 17482.13092116542, 'l': 17319.43829605277, 't': 1708495200000}, {'o': 17857.75550663998, 'c': 18004.70228924498, 'h': 18034.80437573113, 'l': 17808.26000678968, 't': 1708581600000}, {'o': 18052.59244018701, 'c': 17937.60973793411, 'h': 18091.62444934009, 'l': 17902.77669922034, 't': 1708668000000}, {'o': 17970.20933054755, 'c': 17933.33234797932, 'h': 18014.10910534034, 'l': 17926.66073258562, 't': 1708927200000}, {'o': 17962.58314489904, 'c': 17971.04650881895, 'h': 17987.54126085128, 'l': 17871.05749763548, 't': 1709013600000}, {'o': 17895.02621953252, 'c': 17874.50353332059, 'h': 17931.01306556362, 'l': 17840.35580663098, 't': 1709100000000}, {'o': 17991.67131669206, 'c': 18043.85001331123, 'h': 18068.51833402559, 'l': 17866.26062946634, 't': 1709186400000}, {'o': 18069.28577152792, 'c': 18302.90975008074, 'h': 18333.2566053976, 'l': 18064.4388955297, 't': 1709272800000}, {'o': 18290.09683954994, 'c': 18226.48234552608, 'h': 18313.42858583214, 'l': 18218.24529669479, 't': 1709532000000}, {'o': 18088.70611883717, 'c': 17897.86741047339, 'h': 18097.50069254871, 'l': 17804.4954024863, 't': 1709618400000}, {'o': 18083.50872975537, 'c': 18017.57468569911, 'h': 18142.87814010117, 'l': 17941.64467935518, 't': 1709704800000}, {'o': 18161.73167321018, 'c': 18297.99040220537, 'h': 18337.95407783484, 'l': 18101.43314378806, 't': 1709791200000}, {'o': 18312.78497656072, 'c': 18018.4524209871, 'h': 18416.72688675222, 'l': 17995.38285064887, 't': 1709877600000}, {'o': 17959.67972497803, 'c': 17951.6919746409, 'h': 18003.04900045078, 'l': 17873.32670526952, 't': 1710133200000}, {'o': 18063.02361973701, 'c': 18219.11454913857, 'h': 18228.36961150191, 'l': 17919.3327021502, 't': 1710219600000}, {'o': 18151.75528508817, 'c': 18068.46731498192, 'h': 18163.74242009961, 'l': 18030.40313677069, 't': 1710306000000}, {'o': 18114.68601991626, 'c': 18014.80587080153, 'h': 18142.9029788032, 'l': 17913.62898548925, 't': 1710392400000}, {'o': 17926.9169267366, 'c': 17808.24994056896, 'h': 17930.47162915616, 'l': 17764.98817037678, 't': 1710478800000}, {'o': 18024.23821438116, 'c': 17985.00686910115, 'h': 18124.32430803588, 'l': 17973.08761628692, 't': 1710738000000}, {'o': 17902.51537873831, 'c': 18032.20493765201, 'h': 18039.82249781734, 'l': 17809.14962042434, 't': 1710824400000}, {'o': 18067.69889926989, 'c': 18240.10687201883, 'h': 18249.11924285353, 'l': 18003.2404136036, 't': 1710910800000}, {'o': 18438.23981976746, 'c': 18320.37547739828, 'h': 18464.7035828885, 'l': 18317.09506211292, 't': 1710997200000}, {'o': 18293.1485943148, 'c': 18339.44247124499, 'h': 18386.25219476104, 'l': 18267.48958870343, 't': 1711083600000}, {'o': 18215.54364307991, 'c': 18277.06363168295, 'h': 18337.34707223643, 'l': 18189.27827000426, 't': 1711342800000}, {'o': 18329.2858737352, 'c': 18210.53672933598, 'h': 18378.70021274486, 'l': 18207.87920979941, 't': 1711429200000}, {'o': 18338.18694193262, 'c': 18280.84200061059, 'h': 18344.08625528741, 'l': 18168.2041614765, 't': 1711515600000}, {'o': 18263.41059400338, 'c': 18254.68877690825, 'h': 18308.31648391215, 'l': 18231.38319273456, 't': 1711602000000}, {'o': 18280.8194213926, 'c': 18293.1985457811, 'h': 18391.58264947711, 'l': 18211.27557144379, 't': 1711947600000}, {'o': 18076.43260379754, 'c': 18121.78376983274, 'h': 18135.57460365485, 'l': 18002.26685577332, 't': 1712034000000}, {'o': 18054.44464661479, 'c': 18160.19035551588, 'h': 18238.66500929783, 'l': 18045.41925293409, 't': 1712120400000}, {'o': 18331.0232864102, 'c': 17878.77994094706, 'h': 18362.28791931052, 'l': 17875.7461083859, 't': 1712206800000}, {'o': 17940.2783401901, 'c': 18108.45626232087, 'h': 18202.95551819502, 'l': 17912.85854353996, 't': 1712293200000}, {'o': 18130.44118427795, 'c': 18100.19233446655, 'h': 18178.65642659122, 'l': 18050.68958908115, 't': 1712552400000}, {'o': 18188.86666996964, 'c': 18169.90490540768, 'h': 18210.02379099622, 'l': 17973.0713402293, 't': 1712638800000}, {'o': 17957.95611639143, 'c': 18011.65476767833, 'h': 18040.82968821636, 'l': 17932.4150877203, 't': 1712725200000}, {'o': 18085.11208238033, 'c': 18307.98265858954, 'h': 18337.1509148954, 'l': 17998.25274532019, 't': 1712811600000}, {'o': 18117.67140883034, 'c': 18003.48672366204, 'h': 18166.49358316497, 'l': 17952.08519970589, 't': 1712898000000}, {'o': 18143.25456428002, 'c': 17706.83238943724, 'h': 18152.08087141352, 'l': 17676.3462581273, 't': 1713157200000}, {'o': 17691.44864568688, 'c': 17713.66416019902, 'h': 17817.72602773676, 'l': 17660.88914907592, 't': 1713243600000}, {'o': 17785.82259192908, 'c': 17493.62169048919, 'h': 17788.53820803673, 'l': 17459.57174281333, 't': 1713330000000}, {'o': 17514.77014256282, 'c': 17394.3141718854, 'h': 17590.81165361064, 'l': 17376.49400617085, 't': 1713416400000}, {'o': 17334.71022579971, 'c': 17037.64565057241, 'h': 17362.28068269716, 'l': 16973.94196169122, 't': 1713502800000}, {'o': 17161.10898864822, 'c': 17210.88556792665, 'h': 17305.15300484702, 'l': 17010.25483470175, 't': 1713762000000}, {'o': 17297.2386621828, 'c': 17471.47136890356, 'h': 17513.30723818752, 'l': 17277.25484321471, 't': 1713848400000}, {'o': 17613.66178108069, 'c': 17526.80046347842, 'h': 17653.65752860066, 'l': 17435.33214312158, 't': 1713934800000}, {'o': 17205.27947856537, 'c': 17430.50359092544, 'h': 17474.46095342574, 'l': 17172.42281209206, 't': 1714021200000}, {'o': 17566.22328124947, 'c': 17718.29872095628, 'h': 17772.77642189092, 'l': 17533.08087906539, 't': 1714107600000}, {'o': 17801.139470156, 'c': 17782.71505413238, 'h': 17820.00033169726, 'l': 17671.03253305016, 't': 1714366800000}, {'o': 17720.3531533753, 'c': 17440.69183718555, 'h': 17768.86933426669, 'l': 17440.69183718555, 't': 1714453200000}, {'o': 17382.77678749994, 'c': 17318.54859363804, 'h': 17667.86152348903, 'l': 17284.36581682217, 't': 1714539600000}, {'o': 17474.91512462568, 'c': 17541.54134334946, 'h': 17575.80457079906, 'l': 17290.63650206353, 't': 1714626000000}, {'o': 17848.6606595277, 'c': 17890.79532155735, 'h': 17926.97789987739, 'l': 17784.78120876062, 't': 1714712400000}, {'o': 17950.98398236091, 'c': 18093.56589755589, 'h': 18094.46052085218, 'l': 17937.28193877399, 't': 1714971600000}, {'o': 18106.33200082134, 'c': 18091.44619943184, 'h': 18156.31888916287, 'l': 18061.60521267198, 't': 1715058000000}, {'o': 17987.70464758797, 'c': 18085.01164002989, 'h': 18135.34399047651, 'l': 17987.70464758797, 't': 1715144400000}, {'o': 18095.796482354, 'c': 18113.46290716427, 'h': 18138.01871230662, 'l': 18012.61810925936, 't': 1715230800000}, {'o': 18171.14550629026, 'c': 18161.17989896498, 'h': 18247.60863856543, 'l': 18099.72538902178, 't': 1715317200000}, {'o': 18228.40492635576, 'c': 18198.61412238115, 'h': 18233.49531049996, 'l': 18147.57271878186, 't': 1715576400000}, {'o': 18187.50635176001, 'c': 18322.77060117382, 'h': 18339.57950704981, 'l': 18175.29725296418, 't': 1715662800000}, {'o': 18412.80699260367, 'c': 18596.65134062301, 'h': 18607.52729500568, 'l': 18359.31950923107, 't': 1715749200000}, {'o': 18589.9774910173, 'c': 18557.96438158368, 'h': 18669.49774277168, 'l': 18553.30279247614, 't': 1715835600000}, {'o': 18571.82113796285, 'c': 18546.22981355143, 'h': 18590.36815967219, 'l': 18462.253427709, 't': 1715922000000}, {'o': 18559.21652334926, 'c': 18674.18691243955, 'h': 18703.82864379392, 'l': 18549.84016393859, 't': 1716181200000}, {'o': 18603.98655945749, 'c': 18713.79775448905, 'h': 18721.17701485229, 'l': 18589.91245233597, 't': 1716267600000}, {'o': 18733.5446872542, 'c': 18705.20233184233, 'h': 18756.68752406594, 'l': 18606.16047832354, 't': 1716354000000}, {'o': 18907.13705512646, 'c': 18623.38734088473, 'h': 18907.54338340147, 'l': 18554.88994858876, 't': 1716440400000}, {'o': 18669.35890326319, 'c': 18808.34673369612, 'h': 18851.98897797014, 'l': 18664.78789326279, 't': 1716526800000}, {'o': 18855.15015908835, 'c': 18869.4400368712, 'h': 18875.19713899384, 'l': 18755.94447843186, 't': 1716872400000}, {'o': 18708.07363025895, 'c': 18736.75452168901, 'h': 18814.81520496344, 'l': 18706.62458192686, 't': 1716958800000}, {'o': 18683.24565777945, 'c': 18538.66259353875, 'h': 18705.26136413013, 'l': 18487.76265073961, 't': 1717045200000}, {'o': 18550.80295199804, 'c': 18536.65084017172, 'h': 18574.56452561184, 'l': 18189.78039427838, 't': 1717131600000}, {'o': 18666.72269255174, 'c': 18600.97430157118, 'h': 18707.21864466211, 'l': 18392.57219190483, 't': 1717390800000}, {'o': 18597.99951248925, 'c': 18654.83663795863, 'h': 18697.94677644399, 'l': 18521.85041733735, 't': 1717477200000}, {'o': 18791.27948188194, 'c': 19035.04843964258, 'h': 19035.86811267088, 'l': 18768.25444065337, 't': 1717563600000}, {'o': 19053.00648422568, 'c': 19021.19338250872, 'h': 19071.78675912195, 'l': 18978.85812542063, 't': 1717650000000}, {'o': 18992.57729438165, 'c': 19000.95068891885, 'h': 19113.88304453862, 'l': 18958.67889687748, 't': 1717736400000}, {'o': 18945.31430262535, 'c': 19074.67469647794, 'h': 19089.83484241007, 'l': 18940.70535379444, 't': 1717995600000}, {'o': 19031.39790654618, 'c': 19210.18482439027, 'h': 19212.63350149218, 'l': 18966.56110358806, 't': 1718082000000}, {'o': 19358.25937816403, 'c': 19465.1794640695, 'h': 19556.89508386722, 'l': 19347.28057882641, 't': 1718168400000}, {'o': 19609.0508945026, 'c': 19576.92365893397, 'h': 19639.44970211524, 'l': 19473.70523696581, 't': 1718254800000}, {'o': 19557.2204978493, 'c': 19659.80014561004, 'h': 19664.59439707057, 'l': 19534.62240485794, 't': 1718341200000}, {'o': 19681.85583547603, 'c': 19902.74884831714, 'h': 19977.84132716086, 'l': 19623.71418074436, 't': 1718600400000}, {'o': 19904.43182260189, 'c': 19908.85759046746, 'h': 19940.49961285295, 'l': 19837.85883666706, 't': 1718686800000}, {'o': 19962.96723277523, 'c': 19752.29783112089, 'h': 19979.92733086331, 'l': 19685.03053023464, 't': 1718859600000}, {'o': 19722.37158451509, 'c': 19700.43122184786, 'h': 19801.96690583611, 'l': 19643.52031169316, 't': 1718946000000}, {'o': 19648.23146159148, 'c': 19474.61981217059, 'h': 19723.20155734174, 'l': 19472.52920522999, 't': 1719205200000}, {'o': 19555.83913579358, 'c': 19701.128649269, 'h': 19712.41545199914, 'l': 19523.50672244783, 't': 1719291600000}, {'o': 19671.06807918604, 'c': 19751.04783769252, 'h': 19763.5457465626, 'l': 19654.18310358811, 't': 1719378000000}, {'o': 19740.51501304937, 'c': 19789.02700989159, 'h': 19850.81018275664, 'l': 19701.33624929055, 't': 1719464400000}, {'o': 19817.00451612913, 'c': 19682.87092403128, 'h': 20017.71460722635, 'l': 19665.84863332626, 't': 1719550800000}, {'o': 19720.11206179996, 'c': 19812.22252929795, 'h': 19827.74880258286, 'l': 19577.53546714956, 't': 1719810000000}], 'status': 'OK', 'request_id': '907a3360bf79b6edfbee34f17f3b6ad8', 'count': 125}

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v       183 non-null    float64
 1   vw      183 non-null    float64
 2   o       183 non-null    float64
 3   c       183 non-null    float64
 4   h       183 non-null    float64
 5   l       183 non-null    float64
 6   t       183 non-null    int64
 7   n       183 non-null    int64
dtypes: float64(6), int64(2)
memory usage: 11.6 KB

In [25]:
# Convertir la columna 'timestamp' a datetime
df['datetime'] = pd.to_datetime(df['t'], unit='ms')

In [26]:
df

,o,c,h,l,t,datetime
0,16667.298925,16543.937606,16686.603502,16453.150303,1704175200000,2024-01-02 06:00:00
1,16413.255429,16368.490570,16471.076838,16352.142018,1704261600000,2024-01-03 06:00:00
2,16290.775018,16282.012409,16419.438173,16276.431012,1704348000000,2024-01-04 06:00:00
3,16281.744368,16305.979061,16415.392538,16249.189041,1704434400000,2024-01-05 06:00:00
4,16354.220720,16649.874274,16655.231025,16349.390334,1704693600000,2024-01-08 06:00:00
...,...,...,...,...,...,...
120,19555.839136,19701.128649,19712.415452,19523.506722,1719291600000,2024-06-25 05:00:00
121,19671.068079,19751.047838,19763.545747,19654.183104,1719378000000,2024-06-26 05:00:00
122,19740.515013,19789.027010,19850.810183,19701.336249,1719464400000,2024-06-27 05:00:00
123,19817.004516,19682.870924,20017.714607,19665.848633,1719550800000,2024-06-28 05:00:00
124,19720.112062,19812.222529,19827.748803,19577.535467,1719810000000,2024-07-01 05:00:00

In [28]:
import yfinance as yf
import datetime

# Ticker para el rendimiento de los bonos a 10 años
ticker = '^TNX'

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descarga los datos
data = yf.download(ticker, start=start_date, end=end_date)

# Muestra los datos
print(data)

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close  Volume
Date
2023-09-13  4.312  4.344  4.235  4.249      4.249       0
2023-09-14  4.229  4.298  4.223  4.288      4.288       0
2023-09-15  4.320  4.338  4.303  4.322      4.322       0
2023-09-18  4.337  4.359  4.311  4.319      4.319       0
2023-09-19  4.333  4.365  4.325  4.365      4.365       0
...           ...    ...    ...    ...        ...     ...
2024-09-05  3.740  3.772  3.721  3.731      3.731       0
2024-09-06  3.708  3.761  3.648  3.710      3.710       0
2024-09-09  3.748  3.748  3.691  3.697      3.697       0
2024-09-10  3.715  3.715  3.639  3.646      3.646       0
2024-09-11  3.614  3.689  3.614  3.653      3.653       0

[251 rows x 6 columns]

In [3]:
import yfinance as yf
import datetime

# Especificar el símbolo de la acción (por ejemplo, 'AAPL' para Apple)
symbol = "AAPL"  # Reemplaza con el símbolo de la acción que desees

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descargar los datos de la acción
data = yf.download(symbol, start=start_date, end=end_date)

# Mostrar las primeras filas del DataFrame
print(data.head())

# Guardar los datos en un archivo CSV
data.to_csv(f'{symbol}_historical_data.csv')

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2023-09-11  180.070007  180.300003  177.339996  179.360001  178.446869
2023-09-12  179.490005  180.130005  174.820007  176.300003  175.402451
2023-09-13  176.509995  177.300003  173.979996  174.210007  173.323090
2023-09-14  174.000000  176.100006  173.580002  175.740005  174.845306
2023-09-15  176.479996  176.500000  173.820007  175.009995  174.119003

               Volume
Date
2023-09-11   58953100
2023-09-12   90370200
2023-09-13   84267900
2023-09-14   60895800
2023-09-15  109205100

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2023-09-08 to 2024-09-06
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       251 non-null    float64
 1   High       251 non-null    float64
 2   Low        251 non-null    float64
 3   Close      251 non-null    float64
 4   Adj Close  251 non-null    float64
 5   Volume     251 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-11,180.070007,180.300003,177.339996,179.360001,178.446869,58953100
2023-09-12,179.490005,180.130005,174.820007,176.300003,175.402451,90370200
2023-09-13,176.509995,177.300003,173.979996,174.210007,173.323090,84267900
2023-09-14,174.000000,176.100006,173.580002,175.740005,174.845306,60895800
2023-09-15,176.479996,176.500000,173.820007,175.009995,174.119003,109205100
...,...,...,...,...,...,...
2024-08-30,230.190002,230.399994,227.479996,229.000000,229.000000,52990800
2024-09-03,228.550003,229.000000,221.169998,222.770004,222.770004,50190600
2024-09-04,221.660004,221.779999,217.479996,220.850006,220.850006,43840200
2024-09-05,221.630005,225.479996,221.520004,222.380005,222.380005,36615400
2024-09-06,223.949997,225.240005,219.770004,220.820007,220.820007,48388600

In [6]:
import yfinance as yf
import datetime

# Símbolo del oro en Yahoo Finance
symbol = "GC=F"

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descargar los datos del oro
data = yf.download(symbol, start=start_date, end=end_date)

# Mostrar las primeras filas del DataFrame
print(data.head())

# Guardar los datos en un archivo CSV
data.to_csv(f'{symbol}_historical_data.csv')

[*********************100%***********************]  1 of 1 completed

                   Open         High          Low        Close    Adj Close  \
Date
2023-09-11  1923.000000  1928.300049  1921.800049  1923.300049  1923.300049
2023-09-12  1920.800049  1920.800049  1911.300049  1911.300049  1911.300049
2023-09-13  1910.300049  1914.599976  1908.900024  1909.099976  1909.099976
2023-09-14  1903.000000  1910.000000  1903.000000  1910.000000  1910.000000
2023-09-15  1923.500000  1927.300049  1923.500000  1923.699951  1923.699951

            Volume
Date
2023-09-11      50
2023-09-12     365
2023-09-13      15
2023-09-14     169
2023-09-15       8

In [7]:
import yfinance as yf
import datetime

# Símbolo de Bitcoin en Yahoo Finance
symbol = "BTC-USD"

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descargar los datos de Bitcoin
data = yf.download(symbol, start=start_date, end=end_date)

# Mostrar las primeras filas del DataFrame
print(data.head())

# Guardar los datos en un archivo CSV
data.to_csv(f'{symbol}_historical_data.csv')

[*********************100%***********************]  1 of 1 completed

                    Open          High           Low         Close  \
Date
2023-09-09  25905.425781  25921.976562  25810.494141  25895.677734
2023-09-10  25895.210938  25978.130859  25640.261719  25832.226562
2023-09-11  25831.714844  25883.947266  24930.296875  25162.654297
2023-09-12  25160.658203  26451.939453  25133.078125  25833.343750
2023-09-13  25837.554688  26376.113281  25781.123047  26228.324219

               Adj Close       Volume
Date
2023-09-09  25895.677734   5481314132
2023-09-10  25832.226562   7899553047
2023-09-11  25162.654297  14600006467
2023-09-12  25833.343750  18657279324
2023-09-13  26228.324219  13072077070

In [8]:
import yfinance as yf
import datetime

# Símbolo de Amazon en Yahoo Finance
symbol = "AMZN"

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descargar los datos de Amazon
data = yf.download(symbol, start=start_date, end=end_date)

# Mostrar las primeras filas del DataFrame
print(data.head())

# Guardar los datos en un archivo CSV
data.to_csv(f'{symbol}_historical_data.csv')

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2023-09-11  138.750000  143.619995  138.639999  143.100006  143.100006
2023-09-12  142.320007  143.000000  140.610001  141.229996  141.229996
2023-09-13  140.949997  144.979996  140.869995  144.850006  144.850006
2023-09-14  145.080002  145.860001  142.949997  144.720001  144.720001
2023-09-15  142.690002  143.570007  140.089996  140.389999  140.389999

               Volume
Date
2023-09-11   56764500
2023-09-12   42668500
2023-09-13   60465200
2023-09-14   64033600
2023-09-15  102861700

In [9]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,165.143280,166.865520,163.286720,165.150960,165.150960,4.561292e+07
std,20.921837,20.958032,20.661305,20.750227,20.750227,1.706973e+07
min,120.629997,121.639999,118.349998,119.570000,119.570000,2.236620e+07
25%,146.709999,147.842499,145.354996,146.917503,146.917503,3.405250e+07
50%,173.055000,174.544998,171.315002,172.729996,172.729996,4.270560e+07
75%,181.737499,184.035000,179.987499,181.602505,181.602505,5.100210e+07
max,200.089996,201.199997,199.050003,200.000000,200.000000,1.414484e+08

In [10]:
import yfinance as yf
import datetime

# Símbolo del índice NASDAQ en Yahoo Finance
symbol = "^IXIC"

# Establecer el rango de fechas (últimos 365 días)
end_date = datetime.datetime.now()
start_date = end_date - datetime.timedelta(days=365)

# Descargar los datos del índice NASDAQ
data = yf.download(symbol, start=start_date, end=end_date)

# Mostrar las primeras filas del DataFrame
print(data.head())

# Guardar los datos en un archivo CSV
data.to_csv(f'{symbol}_historical_data.csv')

[*********************100%***********************]  1 of 1 completed

                    Open          High           Low         Close  \
Date
2023-09-11  13884.030273  13937.469727  13805.129883  13917.889648
2023-09-12  13858.940430  13913.599609  13763.690430  13773.610352
2023-09-13  13773.669922  13868.570312  13733.820312  13813.589844
2023-09-14  13889.759766  13957.570312  13810.660156  13926.049805
2023-09-15  13889.200195  13895.750000  13684.240234  13708.330078

               Adj Close      Volume
Date
2023-09-11  13917.889648  4538870000
2023-09-12  13773.610352  4595490000
2023-09-13  13813.589844  4840310000
2023-09-14  13926.049805  4649010000
2023-09-15  13708.330078  8162210000

In [11]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-09-11,13884.030273,13937.469727,13805.129883,13917.889648,13917.889648,4538870000
2023-09-12,13858.940430,13913.599609,13763.690430,13773.610352,13773.610352,4595490000
2023-09-13,13773.669922,13868.570312,13733.820312,13813.589844,13813.589844,4840310000
2023-09-14,13889.759766,13957.570312,13810.660156,13926.049805,13926.049805,4649010000
2023-09-15,13889.200195,13895.750000,13684.240234,13708.330078,13708.330078,8162210000